body {
    padding-top: 70px;
    background-color:#ffffff;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: top;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;}
}

h5{

    font-size: 16px;
    color: #000000;
}

h3{
  color: #ffffff;
}

.panel-primary {
  border-color: #333;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.carousel-inner {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-holder {
    margin-bottom: 15px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
  margin-top: 10px;
    width: 50%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 75px 0;
}

label.error {
  float: none;
  color: #15f7e4;
  margin: 0 .5em 0 0;
  vertical-align: top;
  font-size: 13px;
}
 a {color: #333;font-size: 16px;}
